{% extends 'base.html' %} {% block content %}
<body>
  <h2>Cadastro de Livros</h2>

  <div>
    <p>Clique aqui para adicionar uma imagem do livro</p>
  </div>

  <form>
    <div>
      <label>Título</label>
      <input type="text" placeholder="Digite o título do livro" required />
    </div>

    <div>
      <label>Data de Publicação</label>
      <input type="date" />
    </div>

    <div>
      <label>Autor</label>
      <input type="text" placeholder="Digite o nome do autor" required />
    </div>

    <div>
      <label>Gênero</label>
      <input type="text" placeholder="Digite o gênero do livro" />
    </div>

    <div>
      <label>Editora</label>
      <input type="text" placeholder="Digite o nome da editora" />
    </div>

    <div>
      <label>Ano de Publicação</label>
      <input type="number" placeholder="Digite o ano de publicação" />
    </div>

    <div>
      <label>Idioma</label>
      <select>
        <option disabled selected>Selecione o idioma</option>
        <option>Português</option>
        <option>Inglês</option>
        <option>Espanhol</option>
        <option>Francês</option>
        <option>Alemão</option>
        <option>Italiano</option>
        <option>Japonês</option>
        <option>Chinês</option>
        <option>Árabe</option>
        <option>Russo</option>
        <option>Holandês</option>
        <option>Coreano</option>
        <option>Grego</option>
        <option>Hindi</option>
        <option>Turco</option>
        <option>Sueco</option>
        <option>Norueguês</option>
        <option>Dançês</option>
        <option>Polonês</option>
        <option>Hebraico</option>
      </select>
    </div>

    <div>
      <label>Classificação</label>
      <select>
        <option disabled selected>Selecione o gênero</option>
        <option>Ficção</option>
        <option>Romance</option>
        <option>Fantasia</option>
        <option>Suspense</option>
        <option>Histórico</option>
      </select>
    </div>

    <div>
      <label>Observação</label>
      <textarea placeholder="Observações adicionais"></textarea>
    </div>

    <div>
      <button type="submit">Cadastrar</button>
    </div>
  </form>
</body>
{% endblock content %}
