{% extends 'base.html' %} {% block content %} 
<section id="banner">
<h3 id="bannerText"><b>The Books: Descubra e Compartilhe Livros!</b></h3>
</section>
<div class="row my-5 mx-auto">

    <div class=" col card mx-5 my-5">
        <h5 class="card-header">Lista de Recomendações</h5>
        <div class="card-body">
          <h5 class="card-title">Va para nossa lista de recomendações de livros!</h5>
          <a href="{{url_for('lista')}}" class="btn btn-primary">Ir!</a>
        </div>
      </div>


    <div class=" col card mx-5 my-5">
        <h5 class="card-header">Cadastro</h5>
        <div class="card-body">
          <h5 class="card-title">Va para a pagina de cadastro, para registrar suas recomendações!.</h5>
          <a href="{{url_for('cadastroLivro')}}" class="btn btn-primary">Ir!</a>
        </div>
      </div>
</div>
{% endblock content %} 