{% extends 'base.html' %}
{% block content %}

<div class="container" id="containerLista">
    <h4 class="mb-4" id="titulo">Catálogo de Livros</h4>
    
    <div class="row justify-content-center g-4">
        {% for livro in listaLivros %}
        <div class="col-md-3 col-sm-6">
            <div class="card text-white bg-warning h-100">
                <div class="card-header" id="tituloCard">
                    <strong>{{ livro.Titulo }}</strong>
                </div>
                <div class="card-body">
                    <p class="card-text" id="textoCard">
                        De {{ livro.Autor }}, publicado em {{ livro.Publicacao }}.<br>
                        Editora: {{ livro.Editora }}.<br>
                        Idioma: {{ livro.Idioma }}.<br>
                        Gênero: {{ livro.Genero }}.<br>
                        Classificação: {{ livro.Classificacao }}.<br>
                        Observação: {{ livro.Observacao}}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}