
{% extends 'base.html' %}
{% block content %}

<h4> Catálogo de Livros </h4>

{% for livro in listaLivros %}
Titulo: <strong>{{livro.Titulo}}</strong> <br>
Publicação: <strong>{{livro.Publicação}}</strong> <br>
Autor: <strong>{{livro.Autor}}</strong> <br>
Gênero: <strong>{{livro.Genero}}</strong> <br> <br>
Editora: <strong>{{livro.Editora}}</strong>
Idioma: <strong>{{livro.Idioma}}</strong> <br>
Classificação: <strong>{{livro.Classificacao}}</strong> <br>
Observação: <strong>{{livro.Observacao}}</strong> <br>
{%endfor%}



{% endblock content %}
