.navbar{
    background-color: #da3;
    align-items:end
}
.navbar-nav .nav-link{
    color: #ddd;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    align-self: center;
}

.navbar-nav .nav-link:hover {
    background-color: #fc5; 
    color: #fff; 
    border-radius: 5px; 
    transition: all 0.2s ease; 
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);

  }
/* Faz o botão mudar com o mouse em cima */
#navLogo{
    font-size: 125%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
#navLogo:hover{
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
}
footer{
    background-color: #bf8f2f;

}
/* Coisas do base.html acima */
#banner{
    width: 100%;
    height: 300px;
    background-image: url("../imgs/banner.png");
}
#bannerText{
    padding: 50px;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    color: #fff;
    font-size: 300%;
    padding-top: 80px;
    padding-left: 80px;
}
.highlight-w{
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
.highlight-b{
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
 .btn-primary{
    background-color: #da3;
    border-width: 0;
}
.btn-primary:hover{
    background-color: #fc5;
} 


#containerLista{
    max-width: 1200px; margin: 2 auto;
}
#titulo{
    font-size: 300%;
    text-shadow: -2px -2px 0 #ffffff, 2px -2px 0 #fc5, -2px 2px 0 #fffffe, 2px 2px 0 #ffffff;
    padding-top: 10px;
    align-items: center;
    text-align: center;
}
#tituloCard{
    text-align: center;
}
#textoCard{
    text-align: justify;
    font-weight:600
}

form input,
form select,
form textarea {
  box-shadow: none;
  border-radius: 6px;
  border: 1px solid #ccc;
}

form label {
  font-weight: bold;
  color: #444;
}

form textarea {
  resize: vertical;
}
